#calculator{
    /* box-shadow:10px 10px; */
    align:center;
    border:solid;
    background:grey;
    height:380px;
    width:215px;
    border-radius:20px;
    padding:20px;
    margin: auto;
  }
  
  #display{
    border:solid;
    border-color:black;
    background-color:white;
    font-size:25px;
    text-align:center;
    font-family:comic sans MS;
    height:70px;
    width:210px;
    border-color:black;
  }

  #buttonN {
    color: white;
    text-align: center;
    font-size: 20px;
    /* border-radius: 20px; */
    background: #433f3a;
    margin: 2px 0px;

    /* padding: 20px; */
    /* padding-bottom: 25px; */
    width: 50px;
    height: 46px;
    border: solid;
  }

  #buttonA{
    color: white;
    text-align: center;
    font-size: 18px;
    /* border-radius: 20px; */
    background: #5c564f;
    /* padding: 20px; */
    /* padding-bottom: 25px; */
    width: 50px;
   height: 46px;
    border: solid;
  }

  #buttonC{
    color: white;
    text-align: center;
    font-size: 20px;
    /* border-radius: 20px; */
    background: red;
    /* padding: 20px; */
    width: 100px;
    height: 37px;
    border: solid;
    margin: 4px 0px;
  }

  #buttonE{
    color: white;
    text-align: center;
    font-size: 20px;
    /* border-radius: 20px; */
    background: green;
    /* padding: 20px; */
    width: 108px;
    height: 37px;
    border: solid;
  }